/node_modules
/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/web/js
!app/cache/.gitkeep
/bower_components
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
