{% extends 'layout.html.twig' %}

{% block content %}
    {% for product in products %}
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>{{ product.title }}</h1>
                <hr>
                {{ product.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
